body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Roboto, sans-serif;
    flex: 1;

}

header {
    background-color: #1F2937;
    flex-direction: column;
    align-items: center;

}

nav,
.main-header {
    max-width: 1000px;
    margin: 0 auto;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

.logo {
    font-size: 24px;
    margin-right: 100%;
}

li {
    flex-shrink: 0;

}